.section {
	text-align: center;
}

#menu li {
	display:inline-block;
	margin: 10px;
	height: 30px;
	padding-top: .5%;
	width: 6%;
	text-align: center;
	color: #000;
	background-color:#CFBEA7;
	-webkit-border-radius: 10px;
            border-radius: 10px;
}

#menu{
	position:fixed;
	top:0;
	left:0;
	height: 60px;
	z-index: 70;
	width: 100%;
	padding: 10px;
	margin:0;
}

#menu li a{
	text-decoration:none;
	color: #000;
	width: 100%;
	display: block;
}
/*-----------------------history section-----------------------------------*/
#history {
	background-color: #F7C66A;
}

#sec_his {
	font-size: 3em;
	color: #5E6466;
	text-shadow: 2px 2px 4px white;
	padding-top: 30px;
}

#rail {
	width: 63%;
}

#rodman {
	width: 55%;
}

p {
	font-size: 1.1em;
	text-align: center;
}

#railway p {
	padding-left: 25px;
}

/*--------------------------------Myth section------------------------------------*/
#hogs {
	background-color: #FCF0D9;
	text-align: center;
	border: solid #F7C66A 2px;
}

#hogs1 {
	width: 50%;
	margin-left: 25%;
}

#myth {
	background-color: #FCF0D9;
}

#myth img {
	width: 60%
}

h2 {
	font-size: 3em;
	text-shadow: 2px 2px 4px white;
}

#myth h4 {
	font-size: 1.2em;
}

#what_now {
	background-color: #F7C66A;
}

#mudding {
	font-size: 3em;
	color: #614413;
}

#give {
	color: #614413;
	font-size: 2em;
}

#arrow {
	height: 20%;
}
/*--------------------------------slides------------------------------*/
#addPixi {
	border: solid black 1px;
	background-image: url('../rain.gif');
}

#slide1 input:hover {
	background-color: tan;
	color: #754F1D;
	font-family: 'Creepster', cursive;
	text-shadow: 1px 1px white;
}


#slide1 {
	background-color: #FCF0D9;
	font-size: 3em;
}

#what {
	height: 70px;
	width: 200px;
	background-color: #754F1D;
	color: tan;
	font-size: .8em;
	border: outset green 2px;
}

#wallers1 {
	font-family: 'Creepster', cursive;
	display: none;
}

.fp-controlArrow.fp-next {
	border-color: transparent transparent transparent #336627;
}

.fp-controlArrow.fp-prev {
	border-color: transparent #336627 transparent transparent;
}

#muddys {
	display: none;
	width: 100%;
	height: 90%;
	margin-top: 4%;
}

#slide2 {
	background-color: #336627;
	overflow: hidden;
}

#slide2 #myVideo {
	right: 0;
	bottom: 0;
	top:0;
	right:0;
	width: 100%;
	height: 100%;
	background-size: 100% 100%;
  	background-position: center center;
  	background-size: contain;
   	object-fit: cover; /*cover video background */
   	z-index:3;
	}

#cost {
	list-style: none;
	font-size: 2em;
}
	
#loc {
	float: left;
	margin-left: 28%;
	margin-top: 5%;
	color: #614413;
	text-align: center;
}

#loc p {
	font-size: 1.5em;
}

#slide4 {
	background-color: #CFE3CA;
}

#loc h1 {
	font-family: 'Creepster', cursive;
	font-size: 2em;
}

#loc h2 {
	font-family: 'Creepster', cursive;
}

#tab {
	width: 100%;
}

#pict {
	float: right;
}

#slide3 {
	background-color: #C7F2C2;
	color: #614413;
	background-image: url('../images/mudd1.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: 90%;
}

#slide3 p {
	font-size: 2em;
}

#slide3 h2 {
	font-size: 3.5em;
	font-family: 'Creepster', cursive;
	width: 10%;
	box-shadow: 3px 4px 5px 6px #735D17;
}
#even {
	margin-left: 40%;
}

#cost1 {
	margin-left: 48%;
}

#cost {
	background-color: #F2EAC7;
	width: 15%;
	margin-left: 45%;
	box-shadow: 3px 4px 5px 6px #695727;
}

#dates {
	background-color: #F2EAC7;
	width: 35%;
	margin-left: 25%;
	box-shadow: 3px 4px 5px 6px #695727;
}

#picss {
	width: 50%;
}

#picss div img {
	width: 100%;
	height: 100%;
}
